@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Rubik", sans-serif; */
  font-family: "Inter", sans-serif;
}

.hero-container {
  background-image: url("/assets/homeBg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 900px;
  backdrop-filter: blur(2px);
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  /* margin-bottom: 20rem; */
}

.menu {
  text-align: center;
  position: absolute;
  top: 2rem;
  right: 0.9rem;
  display: none;
  cursor: pointer;
}

.header-left img {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 20%;
}

.header-right ul {
  display: flex;
  list-style: none;
}

.header-right ul li {
  font-size: 1.5rem;
  margin-right: 2rem;
  font-family: "Rubik", sans-serif;
}

.header-right ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s ease-in-out;
  text-transform: capitalize;
}

.header-right ul li a:hover {
  text-decoration: underline;
  color: rgb(255, 125, 102);
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 160px auto;
}

.hero-section p {
  font-size: 1.2rem;
  color: #e6e6e6;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.hero-img img {
  width: 85%;
}

.border {
  border: 1px solid #fff;
  padding: 0.2rem 0.2rem;
}

.border--dark {
  border: 1px solid black;
  padding: 0.2rem 0.2rem;
  width: 321px;
}
.border--light {
  border: 1px solid #fff;
  padding: 0.2rem 0.2rem;
  max-width: 300px;
}

.btn {
  display: inline-block;
  background-color: #ff4655;
  color: #fff;
  padding: 1.1rem 4rem;
  font-size: 1rem;
  /* border-radius: 0.4rem; */
  font-weight: lighter;
  /* transition: 0.5s ease-in-out; */
  cursor: pointer;
  border: none;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  background-size: 1.1rem 4rem;
  transition: all ease 0.8s;
  position: relative;
}

.btn:hover {
  background-repeat: no-repeat;
  background-position: -50px -50px;
  background-image: linear-gradient(135deg, #31302b 50%, transparent 51%);
  background-size: 200% 200%;
  background-position: 0px 0px;
  color: #fff;
}

/* Hero and header section ends. */

/* Dimension section starts. */

.dimension {
  background: url("/assets/overviewBg.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0 100px;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text p {
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 1rem;
  letter-spacing: 0.4rem;
}

.text h2 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 7rem;
  font-weight: 600;
  text-transform: uppercase;
  /* text-shadow: 2px 2px 2px #000; */
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.text .border {
  border: 1px solid #fff;
  padding: 0.2rem 0.2rem;
}

.text button {
  text-transform: uppercase;
  color: #fff;
  outline: none;
}

/* Play section */

.play {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 3rem 1rem;
  margin: 4rem;
}

.play-left {
  margin-left: 2rem;
}

.play-video {
  border: 2px solid black;
}

video {
  border-radius: 5px;
  /* height: 600px; */
  width: 600px;
  /* margin: 120px 0; */
  padding: 0.5rem;
  margin-top: 9rem;
  margin-right: 5rem;
}

/* play text  */
.play-text {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.play-description {
  width: 100%;
  margin-left: 2rem;
}
.play-text h2 {
  /* width: 121%; */
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  /* text-shadow: 2px 2px 2px #000; */
  margin-bottom: 3rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.play-text h3 {
  font-size: 2.4rem;
  color: #383e3a;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.play-text p {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  max-width: 500px;
  width: 100%;
  color: #768079;
}

.play-text .btn {
  font-weight: bold;
  color: #fff;
}

/* Agents section */
.agents {
  background-image: url("/assets/agents\ background.jpg");
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.agents-left {
  padding-left: 5rem;
  margin-right: 5rem;
}

.agents-right {
  margin-right: 5rem;
  padding-right: 5rem;
  position: relative;
  margin-top: -4rem;
  /* margin-left: 5rem; */
}

.agents-right h1 {
  color: #ece8e1;
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  /* text-shadow: 2px 2px 2px #000; */
  letter-spacing: 0.1rem;
  font-weight: 600;
  /* font-weight: bold; */
  position: absolute;
  bottom: 10rem;
  margin-bottom: 2.8rem;
}

.agents-right h2 {
  font-size: 2rem;
  color: #ece8e1;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  /* letter-spacing: 0.2rem; */
}

.agents-right p {
  width: 80%;
  font-size: 1.08rem;
  color: #ece8e1;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 2.4rem;
}

a {
  text-decoration: none;
}

.agents-btn {
  width: 100%;
  background-color: #fff;
  font-family: "Rubik", sans-serif;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1.1rem 2rem;
  border-radius: 5px;
}

.agents-border {
  margin-top: 2rem;
}
